ion-header
  background-color: #BCE0FD

ion-img
  width: 60px
  height: 60px
  opacity: 0.4
  margin: 0 auto
  display: block

ion-item
  background-color: #F1F9FF

ion-icon
  color: #BCE0FD
  font-size: 30px

#sub-header
  padding: 5px
  background-color: #F1F9FF

ion-item-divider
  background-color: white
  margin-top: 0px
  min-height: 5px!important

ion-list-header
  color: #1365B6
  font-weight: bold
  font-size: medium
  background-color: #F1F9FF

#select-frame
  background-color: #F1F9FF
  padding-bottom: 20px

#select-item
  color: #707070
  align-content: center
  background-color: #F1F9FF
  margin-left: 10px
  margin-right: 10px
  border: solid 1px #1365B6

#select-label-text
  display: inline-block
  margin: 0 auto
  padding-left: 10px
  padding-bottom: 5px
  font-size: medium
  font-weight: bold


