      <ion-grid>
        <ion-row>
            <ion-col>            
              <ion-list>
                <ion-item>
                  <ion-label>Select Place</ion-label>   
                  <ion-select>                                    
                          <ion-select-option *ngFor="let DeliveryPlace of (parcels$ | async)" value="{{DeliveryPlace.description}}">{{DeliveryPlace.description}}</ion-select-option>                 
                        </ion-select>            
                </ion-item>     
              </ion-list>
            </ion-col>
           </ion-row>
           </ion-grid>
          
           