<ion-grid>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item [formGroup]="parentForm">
          <ion-label>
              <!-- TODO translate -->
            <ion-icon color=primary name="pin"></ion-icon> Select Delivery Place
          </ion-label>
          <ion-select [formControlName]="'deliveryplaces'" >
            <ion-select-option *ngFor="let deliveryPlace of (deliveryPlaces$ | async)"
              value="{{deliveryPlace.latitude}}|{{deliveryPlace.longitude}}">{{deliveryPlace.description}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>