<ion-app>
    <ion-split-pane>        
        <ion-menu side="end" type="overlay">
            <ion-header>
                <ion-toolbar [color]="'#1365B6'">
                    <ion-title>Menu</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-menu-toggle auto-hide="false" color="dark">
                        <app-menu-list></app-menu-list>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>
