<ion-app>
    <ion-split-pane contentId="main">
        <ion-menu contentId="main" side="end" type="overlay" *ngIf="isSidebarVisible">
            <ion-header>
                <ion-toolbar [color]="'#1365B6'">
                    <ion-title>{{ 'menu.title' | translate}}</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-menu-toggle auto-hide="false" color="dark">
                        <app-menu-list></app-menu-list>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
