<ion-header>
    <ion-toolbar [color]="'#1365B6'">
        <ion-buttons slot="end">
                <ion-button>
                        <ion-icon slot="icon-only" name="refresh" ></ion-icon>
                      </ion-button>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{ 'dashboard.header' | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [color]="'#BCE0FD'">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card *ngFor="let dashboardItem of dashboardItems">
                    <app-dashboard-tile [dashboardItem]="dashboardItem"></app-dashboard-tile>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

