<ion-header>
    <ion-toolbar [color]="'#1365B6'">
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{'parcel.request_appointment'|translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-header id="sub-header">
    <ion-item [lines]="'none'">
        <ion-buttons slot="end">
            <ion-button routerLink="../dashboard">
                <ion-icon name="arrow-back"></ion-icon>
                {{'vehicle.requested.backtodashboard'|translate}}
            </ion-button>
        </ion-buttons>
    </ion-item>
</ion-header>
<ion-content [color]="'#212121'">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card id='grey-border'>
                    <ion-item>
                        <ion-card-header>
                            <ion-img [src]="imageUrl"></ion-img>
                        </ion-card-header>
                        <ion-card-content >
                            <ion-card-title class="mat-accent">
                                <h2> {{'vehicle.requested.message'|translate}} <Br /> {{ dateTime | dfnsFormat: 'DD-MM-YYYY' }} | {{ dateTime | dfnsFormat: 'HH:mm' }}{{'vehicle.requested.hour' |translate}}</h2>
                            </ion-card-title>
                        </ion-card-content>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card >
                    <ion-item [color]="'success'">                        
                        <ion-card-content>
                            <ion-card-title style="color:white">
                                <h2> {{'vehicle.requested.toast.message'|translate}} </h2>
                            </ion-card-title>
                        </ion-card-content>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
