<ion-header>
    <ion-toolbar [color]="'#1365B6'">
        <ion-buttons slot="end">
            <ion-button (click)="reset()">
                <ion-icon slot="icon-only" name="refresh"></ion-icon>
            </ion-button>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{('parcel.header.' + context) | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <app-tab-bar-parcels *ngIf="tabBarVisible"></app-tab-bar-parcels>
    <app-parcel-list-view *ngFor="let vehicle of [1,2,3]" [vehicle]="vehicle"
                          [parcels$]="parcels$"></app-parcel-list-view>
</ion-content>