<ion-header>
    <ion-toolbar [color]="'#1365B6'">        
            <ion-buttons slot="end">
                <ion-button (click)="reset()">
                    <ion-icon slot="icon-only" name="refresh" ></ion-icon>
                </ion-button>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{('parcel.header.' + context) | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <app-tab-bar-parcels *ngIf="tabBarVisible"></app-tab-bar-parcels>
    <!-- TODO split parcels into different arrays for each  vehicle -->
    <!-- TODO divider shows vehicle number and request / cancel appointment -->
    <app-divider-parcels></app-divider-parcels>
    <app-parcel-list-view [parcels]="parcels$ | async"></app-parcel-list-view>
</ion-content>