<ion-item (click)="onClick()" (mouseenter)="isHovering = true" (mouseleave)="isHovering = false" [@hover]="isHovering">
    <ion-card-header>
        <ion-item [lines]="'none'">
            <ion-img [src]="dashboardItem.image"></ion-img>
            <!-- TODO ngIf badge number is bigger than 9 than use badge without whitespaces for correct circle-->
            <!-- TODO create css classes for badges with different background-color and set class according to desired logic-->
            <ion-badge id="dashboard-badge">{{dashboardItem.count}}</ion-badge>
        </ion-item>
    </ion-card-header>
    <ion-card-content>
        <ion-card-title class="mat-accent"><h2 [@title]="isHovering">{{dashboardItem.title}}</h2></ion-card-title>
    </ion-card-content>
</ion-item>
