// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~material-design-icons/iconfont/material-icons.css';

ion-toolbar {
  background-color: #1365B6;
  color: white;
}

ion-item-divider {
  background-color: #1365B6;
  ion-item {
    font-weight: bold;
    background-color: #1365B6;
    color: #ffffff;
  }
}

ion-content {
  background-color: #212121;
}

.button-dark {
  background-color: #212121
}

.button-light{
  background-color: white;
}

.button-disabled-dark {
  background-color: #212121;
  opacity: 0.4;
}

.button-disabled-light {
  background-color: white;
  opacity: 0.4;
}


