<ion-item-group (mouseenter)="isHovering = true" (mouseleave)="isHovering = false">
    
    <ion-item [lines]="'none'" [@hover]="isHovering">
        <!--TODO show different icon, when request is confirmed -->
        
        <ion-img [src]="imagePrefix + 'vehicle_requested.png'"></ion-img>
        <ion-label >{{ parcel.status | parcelEnum | translate }} <br />
          {{ parcel.date | dfnsFormat: 'DD-MM-YYYY' }} |
            {{ parcel.date | dfnsFormat: 'HH:mm' }} <br />  {{parcel.deliveryplace}}</ion-label>

        <!--  *ngIf="parcel.status== 'DELIVERY_REQUESTED' || parcel.status== 'DELIVERY_CONFIRMED'
    && parcel.status!= 'DELIVERED'" -->
        <ion-button color="danger" fill="outline" slot="end" (click)="openConfirmDialog()">
            {{'parcel.cancel_appointment' | translate}}
        </ion-button>

        <ion-button (click)="clickedRequestAppointment()"
            *ngIf="parcel.status!= 'DELIVERY_REQUESTED' && parcel.status!= 'DELIVERY_CONFIRMED' && parcel.status!= 'DELIVERED'"
            [routerLink]="['/vehicleRequest']" [queryParams]="{type: 'PARCEL_DELIVERY'}" [skipLocationChange]="false"
            fill="outline" slot="end">{{'parcel.request_appointment' | translate}}</ion-button>
        <!-- <ion-button fill="outline" slot="end">Details</ion-button> -->
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item [lines]="'none'" [@hover]="isHovering">
        <ion-text>
        <b> {{'parcel.DHL'|translate}}:</b> {{parcel.sender}}
        </ion-text>
    </ion-item>
</ion-item-group>